@import "variables";
@import "components/header";
@import "components/datauser";
body {
  background: white;
}
p {
  margin-bottom: 0rem;
}
.containerApp {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
  overflow-y: scroll;
}
.doughnut {
  height: 200px;
  justify-content: center;
  display: flex;
}
footer {
  padding-bottom: 10px;
}
